body {
    text-align-last: center;
    font-family: monospace;
    background-color: hotpink;
  }

h1 {
    font-size: 3.5em;
    animation: pulse 1s infinite;
    color: lime

}

h3 {
  animation: tada 0.5s infinite;
}

h4 {
  animation: flash 2s infinite
}

.card {
    text-align: center;
    border: limegreen solid 7px;
    padding: 1rem;
    width: auto;
    height: auto;
    display: center;
    margin: 1rem 1rem;
    box-shadow: 5px 7px indigo;
    background-color: deeppink;
    background-position: center;
    animation: pulse 1s infinite
  }

.piccy {
  justify-self: center;
  width: auto;
  height: 20rem;
  border: cyan solid 7px;
  animation: pulse 2s infinite
}

.finalPiccy {
  background-size: 100%;
  background-position: center;
  width: 18rem;
  padding: 2rem;
  animation: pulse 0.5s infinite
}

.big-button {
  border: yellow solid 5px;
  background-color: aqua;
  width: 250px;
  height: 120px;
  padding: 2rem;
  animation: jello 1s infinite;
  font-size: 4em;
  text-align: center;
  margin-bottom: 50px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  animation: rubberBand 1s infinite;
}

button {
  border: yellow solid 5px;
  background-color: aqua;
}

.name {
  border: aqua solid 5px;
  background-color: yellow;
}

/* set height and width*/
.base-timer {
  position: relative;
  height: 25px;
  width: 25px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer {
  position: relative;
  width: 30px;
  height: 30px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 2px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 2px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}